<section class="container-fluid bg-extreme-dark ptopbot30 tech-stack">
    <div class="container pleftright0">
        <div class="row row-centered">
            <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
                <h2 class="text-white pbot15">Skills </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-file-code-o text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>AngularJs</h2>
                        <p>I'm very fluent in <b>AngularJS</b>. Whether it is writing custom components using directives or structuring it to more modular/scalable architecture, I know what it takes to handle complex production projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-sitemap text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>Node.js & Express</h2>
                        <p>I simply love <b>Node.js</b>. I provide help in the full lifecycle of JavaScript applications: design, development, code-reviews, deployment and maintenance.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-code text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>Javascript</h2>
                        <p>JavaScript is everywhere. It has evolved along with the Web and now finds itself entrenched in modern browsers, complex <b>Web applications, mobile development, server-side programming,</b> and in emerging platforms like the <b>Internet of Things</b>.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-html5 text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>HTML5 & CSS3</h2>
                        <p>HTML5 semantics, HTML5 apis - geolocation, localstorage, canvas, audio and video - I have experience with all of these.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-rocket text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>Web Apis</h2>
                        <p>Analytics - google analytics, Lucky Orange, Hotjar etc, social media integration - facebook, linkedIn, yelp and twitter - and maps integration are some other apis that we have integrated into existing client applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mbot30 tech-stack-item animated zoomIn">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-server text-xxx-lg mtop25"></i>
                    </div>
                    <div class="col-xs-10">
                        <h2>Build & Deployment</h2>
                        <p>I build automation in large projects using complex build processes with tools like gulp, grunt and tools like npm, bower and lots more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-white ptopbot10">
    <div class="row">
        <h5 class="text-center text-bold">Made with <i class="fa fa-heart fa-1x animated big-pulse infinite text-red pleftright5"></i> by Designer Singh</h5>
    </div>
</section>