<section class="container-fluid pleftright0 animated slideInDown" id="intro">
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-8 col-xs-12 col-centered intro-details">
                <h1 class="animated zoomIn" sn-skrollr data-0="transform: scale(1); opacity:1"  data-250="transform: scale(0); opacity:0">
                    I am on a mission to make the world <b>pixel perfect</b>.
                </h1>
            </div>
        </div>
    </div>

    <div class="bg-overlay"></div>
</section>

<section class="container-fluid bg-white ptopbot50" id="home-about">
    <div class="container">
        <div class="row row-centered">
            <div class="col-md-9 col-sm-12 col-centered home-about animated fadeInUp">
                <h2 class="mbot15">HI! I'm Tajinder. I am a <b>Designer, Developer & Tech Enthusiast.</b> <br/>
                    I design beautiful experiences with elegant and efficient code.
                    <span>When i am not working, you'll find me coding and learning something new.</span>
                </h2>
                <p>UI/UX • Front-End Developer • Visual Design • Javascript Junkie</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-dark-gray ptopbot30" id="home-recent-work">
    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 mbot20 work animated fadeInUp"  data-sr="enter bottom ease-in">
                <h3 class="text-white">
                    Recent Work
                </h3>
            </div>

            <div class="col-sm-4 col-xs-12 animated zoomIn dribble-shots" ng-repeat="d in dribbble">
                <a ng-href="{{d.html_url}}" target="_blank">
                    <img ng-src="{{d.images.normal}}" class="img-responsive mbot20 margin-auto" ng-show="!$last"/>
                </a>
            </div>
        </div>
    </div>
</section>
